/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-shiba {   
    width: 50%;
    transition: transform 1s;
}

.logo-shiba:hover   {
  transform: perspective(200px) translateZ(20px);
}

video {
    position: absolute;
    
   
    width: 100%;
    height: 300%;
    object-fit: cover;
    z-index: -1;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.verde {
  color: green;
}

.rojo {
  color: red;
}

@font-face {
    font-family: helvari;
    src: url(./fonts/helvari.ttf);
}
@font-face {
    font-family: beams;
    src: url(./fonts/Beams.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(./fonts/Inter-Regular.otf);
}
@font-face {
    font-family: inter-black;
    src: url(./fonts/Inter-Black.otf);
}
@font-face {
    font-family: inter-bold;
    src: url(./fonts/Inter-Bold.otf);
}
@font-face {
    font-family: inter-light;
    src: url(./fonts/Inter-Light.otf);
}
@font-face {
    font-family: inter-thin;
    src: url(./fonts/Inter-Thin.otf);
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
  }
p {
    text-align: center;
}
body {
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
header {
    width: 98%;
    padding-top: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, transparent, rgb(0, 0, 0));
    z-index: 5;
}

.inception {  
  background: linear-gradient(0deg, rgba(61,180,250,1) 29%, rgba(116,101,220,1) 72%) ; 
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
}

@media screen and (max-width: 968px) {
  header  {
    justify-content: space-between;
  }

  h3  {
    font-size: 100%;
  }
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    
}
header ul li {
    list-style: none;
   
}

.fa-globe, .fa-twitter   {
  color: white;
}

.fa-globe:hover, .fa-twitter:hover   {
  color: #51A6F6;
} 

.fa-cannabis  {
  color: green;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'helvari';
    font-size: 1em;
    text-transform: uppercase;
}
header ul li a:hover {
    text-decoration: underline;
}
header div#right-side ul li a {
    border: 1px solid #ffffff;
    padding: 10px 20px;
    transition: color linear .3s;
}
header div#right-side ul li a:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}
main section {
    width: 100%;
    padding-top: 150px;
}
main section#title-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
main section#title-section h1 {
    margin: 0;
    padding: 0;
    font-family: 'beams';
    font-size: 50px;
    text-transform: uppercase;
}



main section#title-section a#scroll-to-adventure-action {
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    font-family: 'helvari';
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}
main section#title-section a#scroll-to-adventure-action:hover {
    text-decoration: underline;
}
main section#intro-background-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0;
}
main section#intro-background-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main section#the-story-section img {
    width: 60%;
    height: 0%;
    display: flex;
    margin: auto;
    
    margin-top: 150px;
}
main section#carousell-section {
    height: 640px;
    padding-top: 0;
}


/* ROADMAP */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
.container-timeline {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: white;
  }
}


/* ROADMAP */

.h3-faq     {
    font-size: 50px;
}

main section#guyscoin-section #guyscoin-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section#guyscoin-section #guyscoin-section-content img {
    width: 400px;
    z-index: 10;
    --webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinte;
    animation: spin 10s linear infinite;
}

@media  screen and (max-width: 968px) {
  main section#guyscoin-section #guyscoin-section-content img   {
    width: 80%;
  }
}

/* */

@-webkit-keyframes spin     {
    100%    {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin     {
    100%    {-webkit-transform: rotate(360deg);}
}

@keyframes spin     {
    100%    {-webkit-transform: rotate(360deg);}
}




main section#guyscoin-section #guyscoin-section-content h5 {
    font-family: 'inter-regular';
    text-transform: uppercase;
    font-size: 30px;
    background-color: #1b1b1a;
    border-radius: 10px;
    padding: 5px 15px;
}
main section#guyscoin-section #guyscoin-section-content h3 {
    font-family: 'inter-black';
    text-transform: uppercase;
    font-size: 70px;
    margin: 15px;
    line-height: 1;
}
main section#guyscoin-section #guyscoin-section-content h3 span.small-title {
    font-size: 40px;
}
main section#guyscoin-section #guyscoin-section-content p {
    font-family: 'inter-regular';
    font-size: 18px;
    width: 450px;
}
#participation-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#participation-section img{
    width: 100%;
}
main section#participation-section h3 {
    text-align: center;
    font-family: 'inter-black';
    text-transform: uppercase;
    font-size: 70px;
    color: white;
    margin: 50px 0 15px 0;
    line-height: 1;
}
main section#participation-section h3 span.small-title {
    font-size: 40px;
}
main section#collaborator-section {

    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
main section#collaborators-section #participation-section-content {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.collaborator-item {
    position: relative;
    animation-duration: 30s;
    animation-name: collaboratorAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align: center;
}
main section#collaborators-section #participation-section-content article h4 {
    font-family: 'inter-regular';
    font-size: 24px;
    margin: 0;
}
main section#collaborators-section #participation-section-content article p {
    font-family: 'inter-light';
    font-size: 18px;
    margin: 5px;
}

@keyframes collaboratorAnimation {
    100%   {right: 1000px;}
    0% {right: 0px;}
  }


main section .title {
    width: 100%;
    text-align: center;
    font-family: 'inter-black';
    font-size: 70px;
    margin-bottom: 50px;
}
main section .title h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
main section .title h3:nth-child(2) {
    transform: scale(1, -1);
    margin-top: -35px;
    color: rgb(255, 255, 255);
}
main section .description {
    display: flex;
    font-family: 'inter-regular';
    text-align: center;
    justify-content: center;
}
main section .description > p {
    width: 850px;
    font-size: 18px;
}
.discord-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.discord-description article {
  margin: 15px;
}
footer {
    padding-top: 200px;
}
footer div#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div#footer-content > img {
    width: 100px;
}
footer div#footer-content div#footer-info {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}
footer div#footer-content div#footer-info span {
    color: #ffffff;
    font-family: 'inter-light';
    font-size: 18px;
}


/* BOTON DISCORD PRUEBA */

/* 
button {
    --yellow: #;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inter-regular;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid #f8ff36;
    background: linear-gradient(to right, rgba(253, 245, 27, 0.1) 1%, transparent 40%,transparent 60% , rgba(249, 253, 27, 0.1) 100%);
    color: var(--green);
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(223, 253, 27, 0.4), 0 0 9px 3px rgba(249, 253, 27, 0.1);
   }
   
   button:hover {
    color: #f8ff36 ;
    box-shadow: inset 0 0 10px rgba(176, 203, 69, 0.6), 0 0 9px 3px rgba(223, 253, 27, 0.2);
   }
   
   button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(227, 253, 27, 0.1) 40%,rgba(227, 253, 27, 0.1) 60% , transparent 100%);
   }
   
   button:hover:before {
    transform: translateX(15em);
   } */

/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
  margin: 15px;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #6366f1;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 15px #6366f1)
}
/* */



/*CARDS TEAM */

.team   {
    display: inline-flex;
}

.member1    {
    display: flex;
    flex-direction: column;
   
}
.member-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-description h6 {   
    font-family: inter-regular;
    font-size: 20px;
    margin: 5px;
}

.member-description p {   
    font-family: inter-regular;
    font-size: 16px;
    margin: 2px;
}

.img-member {
    width: 40%;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}



/*CARDS TEAM */


/* MINT INFO */
.boton-connect {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*CAROUSEL */

.carousel   {
  width: 50px;

}

.slider     {
 
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slider-track { 
    display: flex;
    width: calc(250px * 16);
    animation: scroll 35s linear infinite;
   
}

@keyframes scroll   {
    0%  {
        transform: translateX(0);
    }
    100%    {
        transform: translateX(calc(-250px * 8));
    }
}

.slide  {
   height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider img     {
    width: 100%;
    transition: transform 1s;
}

.slider img:hover   {
    transform: translateZ(20px);
}

@media screen and (max-width: 968px)   {
  .carousel  { 
        
        height: 50px
  }
}



/* CAROUSEL */


.a-whitepaper   {
  text-decoration: none;
  color: #5F9C56;

}

.a-whitepaper:hover   {
  color: white;
}
/* FAQ */


 .left-content 
  {
   
    text-align: center;
    font-family: inter-regular;
    font-size: 20px;
    
    padding-bottom: 1rem;
 }
/* FAQ */

@media (max-width: 768px) {
    #roadmap-steps {
        flex-direction: column;
        align-items: center;
    }

    .team   {
        display: flex;
        flex-direction: column;
    }

    .whitepaper, .shadow   {
      font-size: 0.8em;
    }

}


@media (max-width: 1310px) {
}

@media (min-width: 1000px) {}